<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Plant Damage Reports</h3>
  </div>
  <div align="center">
    <%= will_paginate %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>Job Number</th>
        <th>Node</th>
        <th>Street</th>
        <th>Zip Code</th>
        <th>Damage Repair Notations</th>
        <th>Created By</th>
        <th>Date Created</th>
      </tr>
    <%= render 'article', obj: @articles %>
 
    </table>
  </div>
  <div align="center">
    <%= will_paginate %>
  </div>
</div>
