<div class="well">
  <h1 align="center"><%= @user.username %>'s PDR's</h1>
    <div class="row">
      <div align="center">
        <%= gravatar_for @user, size: 120 %>
      </div>
    </div>
    </br>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Job Number</th>
          <th>Node</th>
          <th>Street</th>
          <th>Zip Code</th>
          <th>Damage Repair Notations</th>
          <th>Created By</th>
          <th>Date Created</th>
        </tr>
          <%= render 'articles/article', obj: @user_articles %>
      </table>
    </div>
    <div align="center">
      <%= will_paginate @user_articles %>
    </div>
</div>