
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url(polelines.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: rgba(16, 16, 16, 0.5);
}

.footer-text {
  color: #fff;
  text-align: left;
  position: relative;
  margin-top: 18px;
  font-size: 0.8em;
}

.footer-text a {
  color: #fff;
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo.hover {
  color: #fff;
  text-decoration: none;
}


// jumbotron styles
.xpmhead {
  text-align: center;
  color: #fff;
  margin-top: 100px;
}

.form-header {
  color: #fff;
}

.label-color {
    background-color: #F0AD4E;
    padding: 6px 4px;
    font-size: 0.8em;
    font-weight: bold;
    color: #F5F5F5;
    border-radius: 4px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
}

.listing {
  list-style: none;
  padding-left: 0;
}

