<footer class="footer">
  <div class="container">
    <div>
      <p class="footer-text"><a href="https://youtu.be/ql7uY36-LwA" target="_blank">Puppy Monkey Baby!</a></p>
    </div>
  </div>
</footer>